.details{
  width: 50%;
  float:right;
  height: 100vh;
 position: fixed;
 top: 0;
 right:0;
 z-index: -1;
 display: flex;
 justify-content: center;
 align-items: center;
}
.perfectCenter{
  padding: 0px;

}
